/* 페이지 레이아웃 */
.page-password {
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 0;
}

/* 카드 */
.password-card {
  border-radius: 16px;
  padding: 48px 40px;
  width: 620px;
  text-align: center;
  margin: 0 auto;
}


/* 제목 */
.password-title {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 60px;
}

/* 폼 */
.password-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
